* {
    box-sizing: border-box;
}
img {
    display: block;
}
body {
    background-color: pink;
    /* padding: 0; */
    margin: 0;
    font-family: inter;
}
.container {
    width: 1280px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}
.widget {
    width: 100%;
    display: grid;
    /* grid-template-rows:178fr 210fr 266fr; */
    /* grid-template-columns:416fr 489fr 343fr ; */
    grid-template-areas: 
    "weather news news"
    "today news news"
    "email quote feeling";
    row-gap: 16px;
    column-gap: 16px;
}
.weather {
    border: 1px solid black;
    grid-area: weather;
    /* height: 50vh; */
}
.today {
    border: 1px solid black;
    grid-area: today;
}
.email {
    border: 1px solid black;
    grid-area: email;
}
.feeling {
    border: 1px solid black;
    grid-area: feeling;
}
.quote {
    border: 1px solid black;
    grid-area: quote;
}
.news {
    border: 1px solid black;
    grid-area: news;
}